{% extends "parent-templates/access-content.html" %}
{% block title %} 360 Sports - Events {% endblock %}
{% block content %}
<main class="container mt-5">
    <h1 class="text-center">Upcoming Sports Events</h1>
    <p class="text-center">Discover and watch live sports events with our service!</p>

    <div class="row mt-5">
        {% for event in events %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ event.event_name }}</h5>
                    <p class="card-text"><strong>Sport:</strong> {{ event.sport }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d') }}</p>
                    <p class="card-text"><strong>Time:</strong> {{ event.time.strftime('%H:%M') }}</p>
                    <p class="card-text">{{ event.notes }}</p>
                    <center>
                        <a href="#" class="btn btn-primary">Stream</a>
                    </center>
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-center">No events available at this time. Please check back later.</p>
        {% endfor %}
    </div>
</main>
<br>
{% endblock %}

{% block additional_scripts %}
<script src="{{url_for('static', filename='javascript/camera.js')}}"></script>
{% endblock %}