{% extends "parent-templates/access-content.html" %}
{%block title %} 360 Sports {% endblock %}
{% block content%}
<main class="container mt-5">
    <h1 class="text-center">Welcome to 360° Sports Watching Service!</h1>
    <p class="text-center">
        Experience sports like never before! Enjoy live feeds and connect with fellow sports enthusiasts.
    </p>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="https://static1.squarespace.com/static/595ea7d6e58c62dce01d1625/t/5e5969dc3ca1436a76e4eac1/1564065314028/aspen-project-play-kids-sports-participation.jpeg?format=1500w" class="card-img-top" alt="Live Sports Feeds">
                <div class="card-body">
                  
                    <p class="card-text">Watch your favorite games in real-time with our advanced streaming technology, and catch highlights later.</p>
                    <center>
                    <a href="#" class="btn btn-primary">Learn More</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</main>
<br></br>
{% endblock %}
