<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap's CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">360&deg; Sports Watching Service</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Past Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="main-content-container">
        <section class="camera-info-containter">
            <div class="main-camera">
                <p class="h2 cam-heading">Live Feed</p>
                <img style="height: 50%" class="main-feed">
            </div>
            <div class="camera-buttons-container">
                <button class="btn btn-sm btn-info select-button" data-mxid="1944301071EC6E1300">Cam 1</button>
                <button class="btn btn-sm btn-light select-button" data-mxid="19443010C1ED201300">Cam 2</button>
                <button class="btn btn-sm btn-dark select-button" data-mxid="3">Cam 3</button>
            </div>
        </section>
        <section class="event-info-container">
            <p class="h2">
                Game Event Title
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum perferendis dignissimos itaque quidem est earum optio nihil quaerat voluptas voluptatibus, ad quo quas doloremque assumenda iste adipisci sint corporis.
            </p>
        </section>
      </main>

      <footer class="bg-light main-footer">
        <p>360&deg; Sports Watching Service</p>
        <a href="#top" class="btn btn-sm btn-dark">Back to Top</a>
        <p>&copy; 2024 Southern Connecticut State University. All rights reserved.</p>
      </footer>
    
    <!-- Scripts for Bootstrap's JavaScript Functionality -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='javascript/camera.js')}}"></script>
</body>
</html>